<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a1_l_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import a1_l urdf file -->
    <xacro:include filename="$(find woan_description)/urdf/A1/a1_l.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="a1_l_urdf.ros2_control.xacro" />


    <xacro:a1_l_urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
