<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="x1_l_urdf">
  <mujoco>
    <compiler meshdir="../../meshes/v3.2/" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <link
    name="base_link-L">
    <inertial>
      <origin
        xyz="0.000159939440822284 -6.20605455741537E-07 0.0304553601466284"
        rpy="0 0 0" />
      <mass
        value="0.472235089167281" />
      <inertia
        ixx="0.000272166948190831"
        ixy="-4.20107335007513E-08"
        ixz="-2.63102389036083E-06"
        iyy="0.000257572811141141"
        iyz="2.99310496958811E-07"
        izz="0.000367714560088986" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/base_link-L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/base_link-L.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1-l">
    <inertial>
      <origin
        xyz="-0.00885278318247 -0.000280590563195875 0.0670633884885824"
        rpy="0 0 0" />
      <mass
        value="0.397204280978561" />
      <inertia
        ixx="0.000370077014764152"
        ixy="-1.06759278545413E-06"
        ixz="4.91266150882398E-05"
        iyy="0.000386592571747438"
        iyz="2.22018592880807E-09"
        izz="0.000177520078050015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link1-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link1-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-x1_l"
    type="revolute">
    <origin
      xyz="0 0 0.0585"
      rpy="0 0 0" />
    <parent
      link="base_link-L" />
    <child
      link="Link1-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="1.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2-l">
    <inertial>
      <origin
        xyz="0.0601388137817383 -1.86398052730574E-05 -0.019281686420663"
        rpy="0 0 0" />
      <mass
        value="0.290860547999766" />
      <inertia
        ixx="0.00014754181557396"
        ixy="3.03151105615973E-07"
        ixz="5.20878530557926E-05"
        iyy="0.00023919293547515"
        iyz="-2.5182001641771E-07"
        izz="0.000208737092315752" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link2-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link2-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-x1_l"
    type="revolute">
    <origin
      xyz="0.028 0 0.09945"
      rpy="1.5708 0 1.5708" />
    <parent
      link="Link1-l" />
    <child
      link="Link2-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.44"
      upper="3.58"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3-l">
    <inertial>
      <origin
        xyz="-1.61505122436794E-05 -0.00859970552055969 0.0847583668384367"
        rpy="0 0 0" />
      <mass
        value="0.39641872400927" />
      <inertia
        ixx="0.000614875795560134"
        ixy="-4.44038884426051E-07"
        ixz="6.08349306821247E-07"
        iyy="0.000578190690141136"
        iyz="8.65425659200028E-05"
        izz="0.00019076387100279" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link3-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link3-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3-x1_l"
    type="revolute">
    <origin
      xyz="0.111250000000011 0 -0.028000000000074"
      rpy="0 1.5707963267949 0" />
    <parent
      link="Link2-l" />
    <child
      link="Link3-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.76"
      upper="2.76"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4-l">
    <inertial>
      <origin
        xyz="2.54860992756476E-05 0.0483397572475019 -0.0164084436864034"
        rpy="0 0 0" />
      <mass
        value="0.218783739960793" />
      <inertia
        ixx="0.000193301035438818"
        ixy="-2.90804615982082E-07"
        ixz="2.46776144393015E-07"
        iyy="0.000117493591688138"
        iyz="4.85495669116703E-05"
        izz="0.000165622428779661" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link4-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link4-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4-x1_l"
    type="revolute">
    <origin
      xyz="0 0.028 0.12225"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="Link3-l" />
    <child
      link="Link4-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.95"
      upper="1.95"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5-l">
    <inertial>
      <origin
        xyz="-2.57864961281593E-05 -0.00699359132538363 0.0804176079432036"
        rpy="0 0 0" />
      <mass
        value="0.358803115126829" />
      <inertia
        ixx="0.000550931633053834"
        ixy="-4.3482035753278E-07"
        ixz="6.73567671403311E-07"
        iyy="0.000534869991985782"
        iyz="6.29982135448906E-05"
        izz="0.00015911706004743" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link5-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link5-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5-x1_l"
    type="revolute">
    <origin
      xyz="0 0.101 -0.028"
      rpy="-1.5708 0 0" />
    <parent
      link="Link4-l" />
    <child
      link="Link5-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.33"
      upper="2.33"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6-l">
    <inertial>
      <origin
        xyz="-2.06521456830863E-09 -0.0632193133721481 -0.0181553137446741"
        rpy="0 0 0" />
      <mass
        value="0.222923872256416" />
      <inertia
        ixx="0.000157517631713572"
        ixy="-8.53135386980628E-12"
        ixz="5.64533270202307E-12"
        iyy="0.00010416462395628"
        iyz="-2.98156650200545E-05"
        izz="0.000156074327313393" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link6-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link6-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6-x1_l"
    type="revolute">
    <origin
      xyz="0 0.02375 0.12"
      rpy="-1.5708 0 0" />
    <parent
      link="Link5-l" />
    <child
      link="Link6-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7-l">
    <inertial>
      <origin
        xyz="1.45079398848289E-16 -9.43689570931383E-16 0.00336447801573792"
        rpy="0 0 0" />
      <mass
        value="0.0156367952000345" />
      <inertia
        ixx="1.24351573484494E-06"
        ixy="-5.82850272651702E-21"
        ixz="1.80517962878274E-19"
        iyy="1.2135847017907E-06"
        iyz="-1.93646948573459E-21"
        izz="2.32930826541179E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/link7-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/link7-l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7-x1_l"
    type="revolute">
    <origin
      xyz="0 -0.112 -0.02825"
      rpy="1.5708 0 0" />
    <parent
      link="Link6-l" />
    <child
      link="link7-l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.15"
      effort="0"
      velocity="0" />
  </joint>
  <!-- <link
    name="Link-load-l">
    <inertial>
      <origin
        xyz="-1.154248523663E-13 2.76445533131664E-14 -0.0764999999999999"
        rpy="0 0 0" />
      <mass
        value="0.129779192519794" />
      <inertia
        ixx="0.000256411239620983"
        ixy="-8.92108835369458E-23"
        ixz="-3.77084068393609E-16"
        iyy="0.000256411239620983"
        iyz="5.71757067233944E-17"
        izz="6.48895962598972E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link-load-l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://woan_description/meshes/v3.2/Link-load-l.STL" />
      </geometry>
    </collision>
  </link> -->
  <link
    name="left_load" />
  <joint
    name="left_load_joint"
    type="fixed">
    <origin
      xyz="0 0 0.16"
      rpy="0 0 0" />
    <parent
      link="link7-l" />
    <child
      link="left_load" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>