<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="a1_r_urdf">

<mujoco>
    <compiler meshdir="../../meshes/A1/A1_r" balanceinertia="true" discardvisual="false" />
  </mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.13344287977858E-05 5.52115991738882E-05 0.0171427944780142"
        rpy="0 0 0" />
      <mass
        value="0.401649629361067" />
      <inertia
        ixx="0.000237179582900665"
        ixy="-1.22282445342999E-07"
        ixz="1.58190141064225E-07"
        iyy="0.000248235159238422"
        iyz="-7.93479798945339E-07"
        izz="0.000305121782839553" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.000528701384746151 -0.000691059523307274 0.0930148088752137"
        rpy="0 0 0" />
      <mass
        value="0.445123480651538" />
      <inertia
        ixx="0.00062026900594517"
        ixy="-1.78291817204338E-07"
        ixz="-1.39375528173456E-07"
        iyy="0.000515290876046097"
        iyz="3.68477334539704E-05"
        izz="0.00025747618201433" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1-a1_r"
    type="revolute">
    <origin
      xyz="0 0 0.0125"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.04"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.0610748205842461 4.79251884467902E-05 0.00491189316404225"
        rpy="0 0 0" />
      <mass
        value="0.387804299075863" />
      <inertia
        ixx="0.000348285614510823"
        ixy="8.3362457362696E-07"
        ixz="-2.93681671032494E-05"
        iyy="0.000597196184278377"
        iyz="-1.41888703166366E-08"
        izz="0.000403678012606136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2-a1_r"
    type="revolute">
    <origin
      xyz="0 0 0.12745"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="1.4179133971997E-05 0.00178417845474388 0.109669668671437"
        rpy="0 0 0" />
      <mass
        value="0.407125793860475" />
      <inertia
        ixx="0.000446520666223513"
        ixy="-1.52102569119967E-08"
        ixz="1.60234361204655E-07"
        iyy="0.000343044759489895"
        iyz="-1.30123273479532E-05"
        izz="0.00028620487178606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3-a1_r"
    type="revolute">
    <origin
      xyz="-0.0932500000000608 0 0"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.758"
      upper="2.758"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="4.7772967494897E-07 -0.0625047132426331 0.00555704355217518"
        rpy="0 0 0" />
      <mass
        value="0.252142897287996" />
      <inertia
        ixx="0.000178779070302141"
        ixy="-6.97348529546721E-09"
        ixz="7.78457613461054E-10"
        iyy="0.000146134678627415"
        iyz="-3.30147349555169E-05"
        izz="0.000165597697715162" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4-a1_r"
    type="revolute">
    <origin
      xyz="0 -0.000999999998782225 0.140250000000101"
      rpy="-1.5707963267895 0 3.14159265358925" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.92"
      upper="1.92"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-2.15115908046163E-06 -0.000940016433332663 0.0983077058854085"
        rpy="0 0 0" />
      <mass
        value="0.333954018530655" />
      <inertia
        ixx="0.000324220055891183"
        ixy="-1.16857825802758E-09"
        ixz="7.20959527393977E-08"
        iyy="0.00029907861347288"
        iyz="-5.79215640631192E-06"
        izz="0.00016124141970014" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5-a1_r"
    type="revolute">
    <origin
      xyz="0 -0.0879999999845004 -0.000999999994519968"
      rpy="1.57079632680022 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.758"
      upper="2.758"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="1.41062084290278E-05 0.0616500031845541 0.005171261249036"
        rpy="0 0 0" />
      <mass
        value="0.289938829887438" />
      <inertia
        ixx="0.000346578326495148"
        ixy="-3.69437679948587E-07"
        ixz="-1.7169680305032E-07"
        iyy="0.000183154986554647"
        iyz="3.25615224017575E-05"
        izz="0.000268358656680353" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6-a1_r"
    type="revolute">
    <origin
      xyz="0 -0.000500000006067147 0.13300000000003"
      rpy="1.5707963267957 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="5.62922717291599E-10 -0.00220209359026063 0.00293052216882439"
        rpy="0 0 0" />
      <mass
        value="0.0177506427123713" />
      <inertia
        ixx="2.81905933094716E-06"
        ixy="5.76328222148453E-14"
        ixz="-2.0247594710845E-14"
        iyy="1.8945343219885E-06"
        iyz="2.22911768335112E-09"
        izz="4.6099418954554E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find woan_description)/meshes/A1/A1_r/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7-a1_r"
    type="revolute">
    <origin
      xyz="0 0.111999999999958 -0.000500000000088374"
      rpy="1.57079632679544 0 3.14159265358857" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.758"
      upper="2.758"
      effort="0"
      velocity="0" />
  </joint>
</robot>